<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar color="iqcolor">
<ion-title>SNAP APP</ion-title>
</ion-navbar>

</ion-header>


<ion-content fullscreen>




<ion-card>
    <ion-grid>
      <ion-row>
        <!-- <ion-col>Your Cart Description</ion-col> -->
      </ion-row>
      <ion-row [hidden]="!showEmptyCartMessage">
       <!--  <ion-col>There are no products in your cart!</ion-col> -->
        <ion-col>
         <img src="assets/imgs/empty-cart.png" alt="" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card *ngFor="let item of Cart; let i = index">
    <ion-item color="light">

      <ion-thumbnail item-left *ngIf="item.group_items.picture.length > 0">
      <img src="http://snap.iqmedialabs.com/timthumb.php?w=300&src=http://snap.iqmedialabs.com/{{item.group_items.picture[0]}}"style="width: 60px !important; height: 60px !important;" alt="" />

      </ion-thumbnail>
<!--         <ion-thumbnail item-left *ngIf="item.group_items.picture.length > 0">
      <img src="http://snap.iqmedialabs.com/timthumb.php?w=300&src=http://snap.iqmedialabs.com/{{item.group_items.picture[0]}}"style="width: 60px !important; height: 60px !important;" alt="" />

      </ion-thumbnail> -->
      <h2> {{item.group_items.name}} </h2>
      <p>{{item.group_items.qty}} X {{item.group_items.itemprice}} = Rs {{item.group_items.qty*item.group_items.itemprice}} </p>
      <!-- <button ion-button clear item-right color="danger" (click)="removeFromCart(item, i)">
        <ion-icon name="close-circle"></ion-icon>
      </button> -->

    </ion-item>

    <ion-item class="compact">
      <ion-row no-padding>
        <ion-col col-8>
          <button ion-button icon-only clear color="danger" (click)="setDecrement(item)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
          <button ion-button clear color="danger"> {{item.group_items.qty}}</button>
          <button ion-button icon-only clear color="danger" (click)="setIncrement(item)">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 style="text-align: right;">
          <button ion-button small outline (click)="setRemoveItems(item)" color="danger" style="width: 64px;">Remove</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>


  <ion-grid [hidden]="showEmptyCartMessage">
    <ion-card>
      <ion-grid>
        <ion-row  >
          <ion-col col-2>

          </ion-col>
          <ion-col col-4>
            <b>TOTAL</b>
          </ion-col>
          <ion-col col-3>

          </ion-col>
          <ion-col col-3 style="text-align: right">
            <b>Rs {{T_Amt}}</b>
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
        <!--   <button ion-button color="danger" outline block (click)="closeModal()">Back</button> -->
        </ion-col>
        <ion-col>
          <button ion-button color="danger"  [disabled]="isEmptyCart()" block (click)="PlaceOrderRequest()">Checkout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>


